// main: ../style.scss
#signup {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: -moz-linear-gradient(left, #007dbd, #25a2aa);
  background: -webkit-linear-gradient(left, #007dbd, #25a2aa);
  background: linear-gradient(to right, #25a2aa, #007dbd);
  .flexbox {
    width: 94%;
    margin:  3em auto;
    display: block;
  }
  .leftcont {
    width: 80%;
    margin: 0 auto 1em;
    text-align: center;
    h1 {
      margin-bottom: 5%;
    }
  }
  .rightcont {
    background-color: $color-base;
    padding: 2em;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    h2 {
      font-weight: 600;
      font-family: $font2;
      font-size: 24px;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      margin-bottom: 2rem;
    }
    p {
      font-weight: 600;
      font-family: $font2;
      font-size: 16px;
      margin-bottom: 1rem;
    }
    input[type="text"] {
      border: 1px solid #ccc;
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .submit span.btn {
      margin: 3rem auto 2rem;
      background: -moz-linear-gradient(left, #007dbd, #25a2aa);
      background: -webkit-linear-gradient(left, #007dbd, #25a2aa);
      background: linear-gradient(to right, #25a2aa, #007dbd);
      border: none;
      height: 50px;
      max-width: 300px;
      font-size: 16px;
    }
    .noaccount {
      text-align: center;
      width: 100%;
      a {
        text-decoration: underline;
        font-size: 14px;
      }
    }
    .gaccount span.btn {
      margin: 2rem auto 2rem;
      background-color: #ccc;
      color: $color-main;
      border: none;
      height: 50px;
      max-width: 300px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
@media screen and (min-width:$breakpoint1){
  #signup {
    display: flex;
    align-items: center;
    justify-content: center;
    .flexbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96%;
    }
    .leftcont {
      width: 55%;
      max-width: 600px;
      margin: 0 5em 0 0;
      margin-right: 5em;
    }
    .rightcont {
      padding: 5em;
      width: 45%;
      max-width: 600px;
      margin: 0;
    }
  }
}